[2018-05-07 19:21] readyxrm opened #1 "Reply URL"
This solution is awesome.  Great work!

Just a FYI for the Canadian Data Centers I needed to use "https://canada-001.consent.azure-apim.net/redirect" as the reply URL to work correctly.  This might affect other geos as well.  Thought I would mention it.

My only complaint is that I would have liked to have this solution 6 months earlier... :)

Cheers
Nick

[2018-05-08 21:41] bguidinger commented on #1
Good catch on that!  Microsoft doesn't have a published list of the reply URL's (that I can find), but I think I cracked their complex naming convention.  I've updated the documentation accordingly.

[2018-05-08 21:41] #1 closed

[2018-06-25 21:16] CICCIODALEX opened #2 "Error"
Hi,
I installed the solution ReportRenderer_1_4_0_0_managed.zip , configured it but I have this exception

	2018-06-25 21:14:21.435 - Starting execution.
	2018-06-25 21:14:25.505 - The remote server returned an error: (400) Bad Request.
	2018-06-25 21:14:25.505 - Stopping execution.

Any suggestion?

[2018-06-25 21:35] jyin09 commented on #2
I had the same issue with 1.3 and 1.4 - when I tried to test the report rendering, it said the same thing "400 Bad Request".

![image](https://user-images.githubusercontent.com/40505983/41877119-ff5e71f8-7884-11e8-8986-45faf2dede7e.png)

[2018-07-04 15:59] bguidinger commented on #2
Are these reports out-of-the-box reports, or custom ones?  Do they require any parameters?  Have you entered the credentials on the solution configuration page in CRM?

[2018-07-04 20:24] CICCIODALEX commented on #2
Hi,
here the answers:
 1) The report is a custom report built using Report Wizard
 2) No, the report doesn't require any parameter
 3) I typed system administrator credentials

Let me know if you can help me

[2018-07-05 17:44] jyin09 commented on #2
I haven't fully tested it, but today the 400 response was gone.

the only thing that I did was re-entering the credential in the solution config, and making sure I received "updated successfully" - I don't think I got this notification in Internet Explorer, but in Edge (haven't tried Chrome)

[2018-07-06 20:54] jyin09 opened #3 "Request message has unresolved parameters"
I've got the Report Rendering working, but received the message "Request message has unresolved parameters" when I tried rendering Excel or Word Template

![image](https://user-images.githubusercontent.com/40505983/42399729-d52777ca-8123-11e8-8e98-d83dfdb289b2.png)

[2018-07-06 21:18] jyin09 commented on #3
Never mind - wrong version of solution

[2018-07-06 21:18] #3 closed

[2018-07-09 06:39] CICCIODALEX commented on #2
@bguidinger please would you help me fixing the issue?

[2018-07-10 03:37] jyin09 opened #4 "Question on Calling ReportScheduler from Web API"
Hi,

This is more of a silly question than an issue - if I call the action from web api, can I prompt the saving or download of the output?

Thanks,

Jack

Xrm.WebApi.online.execute(request).then(result => {
    var response = JSON.parse(result.responseText);
    var output = response.Output;

    console.log(output);
}

[2018-07-10 16:32] bguidinger commented on #2
@CICCIODALEX Can you use the Plugin Registration Tool to confirm that the credentials were saved in the Secure Configuration for the plugin step?

[2018-07-10 16:37] bguidinger commented on #4
@jyin09 I believe you can use the Blob object and the URL.createObjectURL method.  See here: https://developer.mozilla.org/en-US/docs/Web/API/Blob.

[2018-07-11 06:36] CICCIODALEX commented on #2
@bguidinger yes , I have just checked and I can confirm that in the 3 registered steps in the Secure COnfiguration the credentials are saved

[2018-07-12 14:48] VenkatSappidi opened #5 "Question - Reg Client Id"
How to get  Client Id in the GetToken Method?

I have registered my crm application in Azure AD.  get the application Id , I used that as a Client Id, But I am getting 400 unauthorized error.

little caveat here that Our Azure AD  will sync local AD,  when I login to CRM it is going to redirect to local adfs site.

   private Token GetToken(string resource, string username, string password)

[2018-08-18 23:33] #4 closed

[2018-08-18 23:40] jyin09 opened #6 "Usage - how to render Word/Excel from Javascript"
Hi,

in the usage documentation, I can see the instruction for rendering a report, can this code be used for rendering Word/Excel? or is it possible to do so?

Thanks

Jack

[2018-08-19 02:44] jyin09 commented on #6
I think I figured it out - when calling Word/Excel template from Javascript, the output remains in original format, is it possible to convert it to PDF? The reason being that, for the javascript call to render a report, I am able to convert the output to PDF, so I am wondering if it's possible for Word/Excel too.

Jack

[2018-09-06 15:57] Mattw112 opened #7 "Wont Import"
Getting error "You can only import solutions with a package version of 8.2 or earlier into this organization. Also, you can't import any solutions into this organization that were exported from Microsoft Dynamics 365 2011 or earlier."

I am using the latest release and we are running CRM Online.

Thanks,
Terry

[2018-09-06 16:00] ikefy commented on #7
Is ur Dynamics tenant v9.0?

[2018-09-06 21:53] Mattw112 commented on #7
Version 1612 (8.2.2.2364) (DB 8.2.2.2364) online

How do I get 9?

[2018-09-07 22:33] ilnurg77 commented on #7
I have same issue in Prod.
Microsoft Dynamics 365
Version 1612 (8.2.2.2364) (DB 8.2.2.2364) online

But it works for my Sandbox with latest version:
Microsoft Dynamics 365
Version 1710 (9.0.2.1470) online

[2018-10-10 11:55] tshortland opened #8 ""message": "Bad Request - Error in query syntax.","
Hi,

I get the following error when trying to render a report. I've tried an OOB report, a simple, parameter-less SSRS report and get the same response.

I've checked the secure config in the plugin registration tool as noted in another issue and can see my credentials are saved.

Any ideas greatly appreciated.

Request:
https://europe-001.azure-apim.net/apim/***/reports(SimpleReport)/Microsoft.Dy

[2018-10-11 12:09] bguidinger commented on #8
Does the URL contain "reports(SimpleReport)", or does it have the GUID of the report inside the parentheses?  In order for the Web API call to work, you must use the GUID.

[2018-10-11 12:26] bguidinger commented on #7
The solution was exported from a v9.0 environment, and therefore will only import into a v9.0 or higher environment.  Since v8.2 will only be supported online until January 31, 2019, it doesn't make sense to port this solution back to 8.2.

[2018-10-11 12:28] bguidinger commented on #5
Did you give your App Registration permission to CRM Online?

[2018-10-11 12:31] bguidinger commented on #6
You would have to use a third-party library to convert to Word/Excel document to PDF.  The reports are special since they are rendered by SSRS which has native support for exporting as PDF, Word, or Excel.

[2018-10-11 12:31] #6 closed

[2018-10-11 12:32] bguidinger commented on #2
@CICCIODALEX My apologies for not getting back to you before.  Were you able to get this working?  Still having issues?

[2018-10-11 18:53] tshortland commented on #8
Hi Bob,

Thanks for the reply.

It turns out it wouldn’t work with an account authenticating via AD FS, but using a .onmicroosft.com account worked.

Thanks,

Tristan Shortland
Software Development Director
0345 450 4600
www.infinitygroup.co.uk
Connect with us on LinkedIn, Facebook, Twitter
GDPR Consultancy: Download our Brochure now.
Infinity Group accepts no liability for the content of this ema

[2018-10-12 13:45] #8 closed

[2018-11-01 08:22] wingzeroaa commented on #5
Hi,

I downloaded the test console app, and I have similar error.
My one is (400) bad request.

It is just same place at
using (var response = request.GetResponse())

client_id is the app I registered.
the Required permission has Dynamic CRM Online -> Delegated Permissions -> Access Dynamics 365 as organisation users.
![image](https://user-images.githubusercontent.com/41313183/47840867-6ecd0c00-de

[2018-11-20 23:05] xegahance opened #9 "400 error "Something went wrong""
I'm receiving the following 400 error when testing the plugin directly from the custom connector in Flow using /POST/RenderReport. Running /GET/Reports does return the correct data however.

I've already tried completely reversing all installation steps then starting again but get the same result. I've also tried with both v1.3 and v1.4 with the same issue.

Do you have any ideas around what could

[2019-01-17 14:29] JuliaStreatfield commented on #9
Me too.  It looks like it should be so simple but I'm getting exactly the same error message.

[2019-01-17 17:55] JuliaStreatfield opened #10 "Action 'Render Report' failed"
Hi
I've seen this has already been logged but just wanted to add my two pennorth.
I have a custom report that has no parameters.  I've done a simple flow that has a trigger and then Render Report, with report name, output to PDF, and invoiceid.
Running the Flow returns BadRequest; Status code 400; Headers below
Cache-Control
	no-cache
Set-Cookie
	ReqClientId=573b446b-8379-4424-a44f-f609973a763a; e

[2019-01-29 04:29] Nikitha110 commented on #9
Hi
I'm facing the same issue
![image](https://user-images.githubusercontent.com/46944385/51884273-ab94a900-23da-11e9-9743-76665c1654d6.png)

Can you please suggest a resolution

[2019-01-30 17:36] mgatti961 commented on #9
Me too.
I get the error on all reports.
Is there a solution?
Thank you

[2019-02-18 12:23] JuliaStreatfield commented on #10
@bguidinger hi can you help please?  Seems there are a few of us with the same issue? Many thanks Jules

[2019-03-20 13:39] bguidinger commented on #9
Unfortunately, these issues are very hard to troubleshoot without specific details about the report.  For example, if the report expects parameters and they are not passed in, that could result in this error.

Can you provide some more details about your specific scenario?

[2019-03-20 13:41] bguidinger commented on #10
@JuliaStreatfield can you provide some more details about the report and how you are calling RenderReport from Flow?  You mention invoiceid...is that a parameter for the report?

[2019-03-20 14:16] mgatti961 commented on #9
Hi
I tried with every report in my environment, with and without parameters.
The error is always the same.

Da: Bob Guidinger <notifications@github.com>
Risposta: "bguidinger/Xrm.ReportScheduler" <reply@reply.github.com>
Data: mercoledì 20 marzo 2019 14:39
A: "bguidinger/Xrm.ReportScheduler" <Xrm.ReportScheduler@noreply.github.com>
Cc: Gatti Maurizio <MGatti@sinthera.com>, Comment <comment@noreply

[2019-03-20 15:28] JuliaStreatfield commented on #10
Hi Bob

I only have two fields on the report to make it simple for testing – name and invoiceid.  No parameters.

Here is the layout of my Flow (or one of them anyway, I tried many different ways):
[cid:image002.jpg@01D4DF31.8EA81A40]

Made up of:
[cid:image010.jpg@01D4DF31.8EA81A40]

[cid:image011.jpg@01D4DF31.8EA81A40]

Condition is a Boolean field on the invoice entity used for the trigger.

[c

[2019-03-20 15:36] JuliaStreatfield commented on #9
For consistency I’m sending you this which is a repeat of the email I sent earlier in response to my own post on Github on this issue.

I only have two fields on the report to make it simple for testing – name and invoiceid.  No parameters.

Here is the layout of my Flow (or one of them anyway, I tried many different ways):
[cid:image001.jpg@01D4DF32.A7AD7A70]

Made up of:
[cid:image002.jpg@01D4DF

[2019-03-20 21:44] bguidinger commented on #10
Looks like the images didn't come through.  Can you comment directly on GitHub and attach the images?

[2019-03-21 14:18] JuliaStreatfield commented on #10
I hope this document upload works, let me know if not.
Many thanks

[Settings for ReportRenderer Flow.docx](https://github.com/bguidinger/Xrm.ReportScheduler/files/2992426/Settings.for.ReportRenderer.Flow.docx)

[2019-03-21 15:45] bguidinger commented on #10
Excellent, the attachment came through, and I think I see what the issue is.

When creating the Parameter variable, you need to specify the Type as "Object", and pass in a JSON object.  For example:

[code]

Of course, replace 'value' with the Invoice object by using dynamic content.  You may need to parse the ID out of the Invoice object first, but I'm not 100% sure on that.

[2019-03-21 17:01] JuliaStreatfield commented on #10
I know nothing about json so I’ve tried this – on Initialize Variable:
            Name    Invoice
            Type     Object
            Value    json(triggerBody()?[‘invoiceid’]) – using Expression/conversion functions/json(value) where I replace ‘value’ with invoiceid using dynamic content

When I test that, the Condition fails : ActionConditionFailed. The execution of template action ‘Conditi

[2019-04-10 01:42] cupacheeno opened #11 "Passing Parameters for certain condition types"
Is it possible to pass parameters for the following type of fields?

- Look Ups (Do we pass the Guid?)
- Date Fields, specifically for operators like Last X Years?

If you could please clarify how to pass these parameters it would be incredibly helpful.

Thanks

[2019-04-15 08:20] ehandani commented on #5
I'm stuck at registering my custom connector. I always receive "The reply url specified in the request does not match the reply urls configured for the application". I am sure I have put the correct reply url as indicated in step 6 Azure AD in INSTALL.md. Any idea why?

[2019-04-15 08:23] ehandani opened #12 "Fail to register custom connector on Flow"
Hi, I'm stuck at registering my custom connector. I always receive "The reply url specified in the request does not match the reply urls configured for the application". I am sure I have put the correct reply url as indicated in step 6 Azure AD in INSTALL.md. Any idea why?

[2019-04-15 16:16] crexin commented on #12
Hi Ehandani,

I was running into this problem as well and found that I had to use the Redirect URL that is on the Security tab of the custom Microsoft Flow Connector (https://global.consent.azure-apim.net/redirect) and copy that and to add it as a Web Redirect URI in the Report Renderer App registration.  After doing this, I was able to test and register the custom connector in Microsoft Flow with

[2019-04-16 03:24] ehandani commented on #12
Thanks Chad!

Strange, I had tried this at first and it didn't work but now it works like a charm!

Erry Handani

[2019-04-16 03:24] #12 closed

[2019-04-23 02:31] ChrisThompNz opened #13 "Cannot Render Report, Template or Template Excel using Connector"
I’ve created a custom connector for Report Rendering in a trial instance, following the steps provided by you.
Please find below the test results for the APIs used in the Rendering Report Connector.

![pic1](https://user-images.githubusercontent.com/49889939/56548420-27fee880-65d4-11e9-880c-e888f15f9968.jpg)
![pic2](https://user-images.githubusercontent.com/49889939/56548421-27fee880-65d4-11e9-999

[2019-04-29 10:36] vkesanam commented on #11
Hi
For me its not working for Text fields. Can you please help me how i need to pass parameters.

[2019-04-29 10:38] JuliaStreatfield commented on #11
Hi
I never got it to work.  But staying on the thread as it would be most useful if someone else does!
Cheers
Jules

Julia Streatfield
D: +44 (0)20 7395 8214 | M: +44 (0)7837 263 082

From: Samba <notifications@github.com>
Sent: 29 April 2019 11:36
To: bguidinger/Xrm.ReportScheduler <Xrm.ReportScheduler@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [bguidinger/Xrm

[2019-05-05 13:10] bguidinger commented on #13
It can't validate the schema when no data is returned.  This is just a warning that you can ignore.

[2019-05-05 13:15] bguidinger commented on #5
These questions may be better asked on an Azure AD forum.

[2019-05-05 13:23] bguidinger commented on #11
Are you guys passing the parameters as a _JSON string_ as described in the [Usage](https://github.com/bguidinger/Xrm.ReportScheduler/blob/master/docs/USAGE.md) guide (specifically steps 3 and 4)?  If your flow doesn't look like the screenshots in that guide, it won't work.  Also, there are differences between custom SSRS reports, and reports created using the Report Wizard.

If you can share more

[2019-05-05 13:37] bguidinger commented on #13
@ChrisThompNz can you try this again?  I just tried in a test org that has no document templates.  I received the same response you did, but received a "Validation succeeded" message.  Perhaps the flow team updated their parsing logic.  If you still get the validation error, can you paste the message?  I can't read it in the screenshot.

[2019-05-05 14:02] bguidinger commented on #11
@cupacheeno Are you referring to passing parameters for a "Report Builder" report where you define the query to be used before the report renders?  If so, those parameters are passed as a FetchXML query.  The name of the parameter (i.e. CRM_FilteredAccount) has to be exactly what CRM is expected.  It generally follow the format of CRM_Filtered{EntityName}.

For example:
![image](https://user-image

[2019-05-05 14:02] #11 closed

[2019-05-05 14:22] bguidinger commented on #10
Here is an example flow which renders the Account Summary report (which uses a parameter).  Note: you will have to replace the GUID of the Account in the FetchXML with a valid ID.

Hopefully this helps.

[ReportRenderer-Example_20190505141720.zip](https://github.com/bguidinger/Xrm.ReportScheduler/files/3145627/ReportRenderer-Example_20190505141720.zip)

[2019-05-13 00:27] pjmcewan commented on #10
I have the same issue, and I tried the sample after changing the report id and account id but still get the 400 -- something went wrong -- error

Is there any way to debug through this somehow?

I tried using Postman and can get the report list, but can't render a report

{
    "error": {
        "code": "0x80040265",
        "message": "Something went wrong.",
        "innererror": {

[2019-05-19 23:07] ChrisThompNz commented on #13
Hi there. Thank you for this the validation message is now present. I am how ever now experiencing a generic "Something went wrong" response error when testing the _POST_RenderReport. You are correct the other two I should not expect replies from as there are no templates. I have attached a photo of the test of the connector, first the response and then the request. When I pass in a full object in

[2019-05-21 16:27] bguidinger commented on #13
@ChrisThompNz does your report have a parameter named Color?  If not, you should remove that from the parameters -- that was just a parameter I was using in my test report.

[2019-05-21 22:22] ChrisThompNz commented on #13
Thank you Bob, I should have assumed this. Apologies this implementation had come from me second hand. Cheers for all your assistance. This scheduler will be helping us tremendously. Thank you.

[2019-05-21 22:22] #13 closed

[2019-05-21 22:54] bguidinger commented on #2
Closing issue due to lack of response.

[2019-05-21 22:54] #2 closed

[2019-05-21 22:54] #5 closed

[2019-05-21 23:02] bguidinger commented on #10
@pjmcewan There currently isn't great logging in the plugin which does the report rendering (where the "Something went wrong" message is coming from).  I'll try to add some in the next couple of weeks.

[2019-05-24 01:34] cupacheeno opened #14 "Related to #11 - Parameter passing"
Thanks for the info regarding passing an actual FetchXML query to the report however my query was something much simpler.

For example if the report required me to pass the "Owner" for a required report how would I do so?
I've tried passing the Guid of the User however I end up getting errors with bad requests.

Thanks

[2019-05-25 13:11] bguidinger commented on #14
What kind of report is it (out-of-the-box report, Report Builder, custom report created through Visual Studio)?  How is the report parameter set up?  Can you provide a screenshot of what the report looks like when you try to run it?

[2019-05-29 08:47] doodlleus opened #15 "GetReportSession failing"
Hi There, I have downloaded the source and tried running this as a plugin and direct from code but it all seems to come unstuck at the GetReportSession method.

Regardless of report, the reponse is always the same:

`<!DOCTYPE html><html><head><script type='text/javascript'>window.location.href = '/_common/error/errorhandler.aspx?BackUri=&ErrorCode=0x8004832C&inline=1&Parm0=%0d%0a%0d%0a&Parm1=%28r

[2019-06-01 12:56] bguidinger commented on #15
@doodlleus what is the URL and parameters it's using when getting the session?  I haven't seen this particular error message before...it looks like the SSRS server is saying it can't find the report (rsItemNotFound).

[2019-06-01 12:59] bguidinger commented on #15
Also, what region is your CRM environment in?  Which version are you on?  If you try to run the same report from the web interface and capture the network traffic, what URL does CRM use when trying to get the session?

[2019-06-02 12:20] bguidinger commented on #10
@pjmcewan I have added additional logging to the plugin.  Please try the latest version (1.5), and open up a new issue if you are still experiencing issues.

[2019-06-02 12:20] #10 closed

[2019-06-02 12:22] bguidinger commented on #9
Closing this issue as these comments are from a few months ago.  I've added additional logging to the plugins to help troubleshoot these issues in the future.  If you are still experiencing issues, please open up a new issue with the details.

[2019-06-02 12:22] #9 closed

[2019-06-03 01:47] Epicity opened #16 "Operation /GET/Reports was not found in swagger"
I get this error when choosing the "Render Report" option in Flow selecting the custom connector. The testing actually works inside the custom connection but when I make the flow i get this error.

[2019-06-03 10:47] bguidinger commented on #16
Are you using the latest Swagger definition file (from v1.5)?  I did notice when I exported it that the forward-slashes in the operations names were replaced with underscores.  I wonder if something changed in Flow.

[2019-06-03 22:11] jyin09 commented on #16
I got the same error.

This (v1.4) is working great on 3 environments that I have. Today when I tried to migrate it to another instances, The same message showed up. And yes, the / was replaced by underscore. it looks like no special characters are allowed in the Operation name.

@bguidinger  are you suggesting V1.5 will address this? when I used V1.5, it started to complain about the reply url to

[2019-06-03 22:14] bguidinger commented on #16
It seems that something has definitely changed in Flow.  I'm still investigating this.

@jyin09 can you open up a new issue for the reply URL?  Please include a screenshot if you can.

[2019-06-03 22:40] bguidinger commented on #16
I've fixed the "Operation /GET/Reports was not found" issue.  Please use the updated OpenAPI (Swagger) definition on the v1.5 release.

The issue was that the operations that have dynamic values (i.e. Render Report where it pulls in the list of reports) needed to have the `operationId` updated to use underscores.

[2019-06-03 22:40] #16 closed

[2019-06-09 02:56] derekfinlinson opened #17 "Using own client_id"
Awesome solution Bob. I'm using it for a client and would prefer using an app registration in their Azure AD instead of the client id set in the source. I've registered a Native app and given permissions to D365 and then authorized the app but get a 401 Unauthorized when getting the access token. The same resource/username/password parameters work fine with your client id in there. Any idea what I

[2019-06-09 03:12] bguidinger commented on #17
@derekfinlinson I ran into your second issue during my testing.  It seems that the access token needs to have an actual user context (i.e. not an application user) in order to successfully render the reports. This is probably because of some internal AD calls that the SSRS servers do.  The downside, of course, is that you have to get an access token with a username/password which is less secure th

[2019-06-10 14:51] derekfinlinson commented on #17
Thanks @bguidinger that all makes sense. I was concerned something may happen to the client id but since it's from MS i'm sure it's safe to use.

[2019-06-10 14:51] #17 closed

[2019-06-19 13:50] onyebuchiboss opened #18 "Cannot install solution"
Hi, I am getting errors when importing the solution. saying invalid solution because the 3 XML file expected inside the solution is missing. And if I want to use just the plugin, which of the pipeline stages should i register the plugin against ??

[2019-06-19 13:51] bguidinger commented on #18
Can you provide some more details?  Which solution (version) are you trying to import?  What version of Dynamics are you on?  Online/on-prem?  Can you provide the actual error message or a screenshot?

[2019-06-19 21:39] onyebuchiboss commented on #18
Thanks for responding swiftly. This is the error - "When attempting to import a solution in Dynamics 365, you encounter the following error:

"The solution file is invalid. The compressed file must contain the following files at its root: solution.xml, customizations.xml, and [Content_Types].xml. Customization files exported from previous versions of Microsoft Dynamics 365 are not supported.

Erro

[2019-06-19 21:40] onyebuchiboss commented on #18
And If you can tell me what stage to register the plugin, that would be helpful, rather than installing the solution.

[2019-06-19 23:17] bguidinger commented on #18
@onyebuchiboss Which zip file are you trying to import?  It sounds like you're using the wrong one.  If you open it up, does it contain a solution.xml file?  I think you may have downloaded the source code zip.

How are you planning on registering the plugin step if you can't install the solution?  The plugin needs to be registered against a custom action.  You could create it manually, but it wou

[2019-06-19 23:37] onyebuchiboss commented on #18
@bguidinger i think i have the raw source i got from downloading the ZIP file on here, where do I find the solution?

[2019-06-20 02:01] bguidinger commented on #18
On the Code tab in GitHub, click on [Releases](https://github.com/bguidinger/Xrm.ReportScheduler/releases).

[2019-06-20 09:01] onyebuchiboss commented on #18
cheers!

[2019-06-26 09:20] onyebuchiboss commented on #18
@bguidinger in the installings instruction, in the custom connector, you just said "upload the OpenAPi", is it any OpenApi created by the user or you have  an already created one ?

[2019-06-28 16:36] onyebuchiboss opened #19 "Output of all the report coming out corrupt"
Hi Bob,
Nice job you have done with this, I have finally installed the solution and getting it to work, but the returns a corrupt document. I'm I doing anything wrong ?

[2019-06-28 16:39] bguidinger commented on #18
You can find the Open API definition in the Release downloads (it's the swagger.json file).

[2019-06-28 16:40] bguidinger commented on #19
It may be how your Flow is configured.  Are you emailing the document, or saving it somewhere?

[2019-06-28 16:45] onyebuchiboss commented on #19
@bguidinger emailing it to myself and its the out of the box excel and word docs as well.

[2019-06-28 16:53] onyebuchiboss commented on #19
@bguidinger

![Capture](https://user-images.githubusercontent.com/17562362/60358302-9b0a4e00-99cd-11e9-87fe-54845fc3aaf9.PNG)

Fine the attached pls. Thanks

[2019-06-28 16:56] #18 closed

[2019-06-28 16:57] bguidinger commented on #19
Can you try removing one of the "Output" parameters from the "Attachments Content - 1"?  You should only need one.

[2019-06-28 17:02] onyebuchiboss commented on #19
@bguidinger i had only one there initially. But after about the 10th trial, it produced a good doc. Thanks again Bob.

[2019-06-28 17:02] #19 closed

[2019-06-29 00:35] bguidinger commented on #14
Closed due to lack of response.  Feel free to open this back up if you are still experiencing this issue.

[2019-06-29 00:35] #14 closed

[2019-06-29 00:35] bguidinger commented on #15
Closed due to lack of response.  Feel free to open this back up if you are still experiencing this issue.

[2019-06-29 00:35] #15 closed

[2019-07-01 07:09] sravanjayi opened #20 "400 Error while executing report from flow."
While Executing Render report from flow i am getting following exception. This issue is for all reports, which are having no parameters then also getting same issue. I am using oob report.. "User Summery report."
Note: I am using trail CRM.
![Annotation 2019-07-01 123755](https://user-images.githubusercontent.com/52399206/60417033-fff7bb00-9bfc-11e9-9acf-9d77226d685a.png)

**Issue Details:**
Somet

[2019-07-01 15:13] bguidinger commented on #20
Please follow step 4 of the [installation guide](https://github.com/bguidinger/Xrm.ReportScheduler/blob/master/docs/INSTALL.md).

[2019-07-02 07:54] MutedMind opened #21 "Something went wrong: The remote server returned an error: (400) Bad Request."
Hi,
as mentioned in older issues, I am getting the above error when trying to trigger the Plug-In from Web API.

Here are the parameters I am using regarding the functions from the "usage" docmentation:

var reportId = '45ABF7FF-1371-E711-80E5-3863BB340A80'
var format = 'PDF';
var strParameterXML = {"CRM_FilteredSystemUser": "<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\

[2019-07-02 09:46] sravanjayi commented on #20
Thank you Bob, It worked for me..

[2019-07-02 09:46] #20 closed

[2019-07-02 10:14] MutedMind commented on #21
I found out, it has something to do with azure ad and the ROPC authentication, reference: https://docs.microsoft.com/en-gb/azure/active-directory/develop/v2-oauth-ropc

The 400 bad request error comes up, when getting the auth token.

I am currently trying to find a workaround, but nothing yet.

[2019-07-24 14:19] jboehnergp opened #22 "Unable to create connection"
We are getting an error when creating the custom connector. The screens in Azure and Flow have changed since this original installation document was created. Can we get any information about how to set up the new informational lines?

[2019-07-24 18:53] bguidinger commented on #22
Could you share the details of the error?  That may help me troubleshoot.

[2019-07-24 19:06] jboehnergp commented on #22
Yes – when we go to create a new connection we get this error:
[cid:image002.jpg@01D54231.6B54D4D0]

Thanks,
Joe

Joe Boehner
CRM Specialist
Email: jboehner@gpstrategies.com<mailto:jboehner@gpstrategies.com>
Phone (office): (443) 539-8869 ext. 68869
Phone (mobile): (904) 803-6452

From: Bob Guidinger <notifications@github.com>
Sent: Wednesday, July 24, 2019 2:53 PM
To: bguidinger/Xrm.ReportSchedul

[2019-07-29 22:23] aindike commented on #22
I have connected successfully and It is working correctly.

[2019-07-29 22:38] aindike commented on #22
Hi Every one,

Here, I have attached a new azure interface connection screenshots.  Please refer that then you guys can be connected successfully.
[Azure connection.docx](https://github.com/bguidinger/Xrm.ReportScheduler/files/3444477/Azure.connection.docx)

[2019-08-05 13:15] andreaPorini opened #23 "Run Template as different user"
Hi @bguidinger ,

thank you for this connector, it's very useful.

I have a enhanchment to propose, I'd like to run my Excel Template as a different user, this way I can use the same view (filtered by "Owned by current user") but having a different context of data for each user that i extract from a List Record action.

Is this possibile?

Best regards,
Andrea

[2019-08-06 18:00] jogendarb commented on #21
I am getting the same error while calling the RenderReport in Microsoft Flow. However it is retrieving all the reports in the system while testing the custom connector's "_GET_Reports" function.

[2019-08-07 13:48] richardhardinguk commented on #22
I'm also having problems creating the custom connector in Flow - with the error "The reply url specified in the request does not match the reply urls configured for the application: '<clientid>'."

This is after accepting the permissions. I've also added the url https://login.microsoftonline.com to the Reply (now Request) URLs in Azure, as that appeared to be the URL the login was coming from inst

[2019-08-07 13:53] richardhardinguk commented on #22
Found my answer in issue #12. Different URL required.

[2019-08-12 13:39] jogendarb opened #24 "(400) Bad Request - While calling RenderReport in Flow"
Hi Bob,
I followed all the steps in the installation guide and I'm trying to schedule a simple SSRS report with no parameters in Microsoft flow and it is giving me 400 bad request error.
[code]
However it is retrieving all the reports in the system while testing the custom connector's "_GET_Reports" function. I tried rendering the report in all the formats, nothing worked.

![image](https://user-i

[2019-08-12 13:51] jogendarb commented on #24
Below are more screenshots from the Test section of the custom connector:
Parameters of the report I'm trying render:
![image](https://user-images.githubusercontent.com/22617839/62869803-82889580-bce6-11e9-9e78-953be6da70c9.png)

Render Report Request:
![image](https://user-images.githubusercontent.com/22617839/62869899-a8ae3580-bce6-11e9-9a95-983660acbce0.png)

Render Report Response:
![image](ht

[2019-08-12 13:55] jogendarb commented on #24
Below is the plugin log:
.
Unhandled exception:
Exception type: System.ServiceModel.FaultException`1[Microsoft.Xrm.Sdk.OrganizationServiceFault]
Message: Something went wrong: The remote server returned an error: (400) Bad Request.Detail:
<OrganizationServiceFault xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/xrm/2011/Contracts">
<ActivityId>94596d94-debf-

[2019-08-12 15:38] bguidinger commented on #24
It looks like the plugin is failing to authenticate.  Can you confirm that
there is a "Secure Config" defined on the plugin step in the Plugin
Registration Tool?

On Mon, Aug 12, 2019 at 8:55 AM jogendarb <notifications@github.com> wrote:

[2019-08-12 15:42] jogendarb commented on #24
@bguidinger : Below is the screenshot of the plugin registration tool:
![image](https://user-images.githubusercontent.com/22617839/62877996-37767e80-bcf6-11e9-99d8-f23d24d932d0.png)

[2019-08-12 15:43] jogendarb commented on #24
I see the secure configuration in the step:
![image](https://user-images.githubusercontent.com/22617839/62878103-6ee52b00-bcf6-11e9-91b4-203969455d64.png)

[2019-08-12 15:44] bguidinger commented on #24
If you open up the "bg_Render of report" step, does it show a "Secure
configuration"?  If not, you will need to provide the username/password
through the solution config page in CRM.

On Mon, Aug 12, 2019 at 10:42 AM jogendarb <notifications@github.com> wrote:

[2019-08-12 15:45] bguidinger commented on #24
You should change that password immediately.

On Mon, Aug 12, 2019 at 10:43 AM jogendarb <notifications@github.com> wrote:

[2019-08-12 15:45] jogendarb commented on #24
I see the secure configuration in the update step:
![image](https://user-images.githubusercontent.com/22617839/62878239-b1a70300-bcf6-11e9-912a-2a7e4415f4d8.png)

[2019-08-12 15:46] jogendarb commented on #24
I did

[2019-08-12 15:47] jogendarb commented on #24
@bguidinger Secure configuration is present and it is correct. What else can I do to fix this?

[2019-08-12 15:50] bguidinger commented on #24
This will require a code change.  It looks like your environment is setup
to use an on-prem ADFS server which is not currently supported (the plugin
is hard-coded to use the Azure AD token endpoint).

On Mon, Aug 12, 2019 at 10:47 AM jogendarb <notifications@github.com> wrote:

[2019-08-12 15:55] jogendarb commented on #24
@bguidinger I am a developer and have experience in writing plugins, but never did the on-prem ADFS authentication. Do you have any resources that might help me to modify the code?

[2019-08-12 16:05] bguidinger commented on #24
I haven't worked with ADFS authentication either.  Doing some quick
searching, this may not even be possible.  If you do find a way to make it
work, let me know and I can get it added into the project (or submit a Pull
Request).

On Mon, Aug 12, 2019 at 10:55 AM jogendarb <notifications@github.com> wrote:

[2019-08-12 16:39] joaodsantos commented on #24
Hi both, I'm facing this exact same issue and also using an on-prem ADFS for authentication.
On a separate application and using this method (https://www.magnetismsolutions.com/blog/johntowgood/2018/09/14/dynamics-365-online-adfs-authenticate-with-user-credentials) I'm able to generate a token on my on-prem ADFS.
But even when I hardcode the token on the plugin, the retrieved HttpWebResponse is al

[2019-08-15 13:10] joaodsantos commented on #24
Hey @jogendarb , just wondering if you've had any luck with this ADFS authentication issue? I'm still stuck on what I mentioned above, I'm able to generate a jwt token from the on-premise ADFS server but doesn't seem to be working when used to authenticate the webrequests

[2019-08-15 13:54] jogendarb commented on #24
@joaodsantos : I need this for one of our client's requirement to send out a daily report of Opportunity and Opportunity Products. We don't have much time to work on the authentication for now, so I have created a flow to retrieve Opportunities and its products from CE and create that report in the flow.

[2019-08-15 15:23] onyebuchiboss opened #25 "Bad Request"
Hi Bob, I know this might not be an issue,but i dont know where to ask this. The App has been registerered everywhere, but I am getting this error - "Something went wrong: The remote server returned an error: (400) Bad Request.", when I use the connector in Flow.  During Test, GET call works but not the POST call. What could be the problem ?

[2019-08-15 15:42] bguidinger commented on #25
Do you see any logs in the Plugin Trace Log?

On Thu, Aug 15, 2019 at 10:23 AM onyebuchiboss <notifications@github.com>
wrote:

[2019-08-15 18:50] joaodsantos commented on #24
I know it's now off-topic from the issue, but if you don't mind, how are you generating the report using flow? Get data -> create HTML table -> convert to file format? Just curious because I might have to implement something similar

[2019-08-15 20:38] jogendarb commented on #24
@joaodsantos My need is to send the report in excel format and I couldn't find convertors from HTML to Excel, so in the flow I am Get data -> Create and Excel table in sharepoint -> insert rows in it -> send email out.

[2019-08-15 22:06] onyebuchiboss commented on #25
@bguidinger This is the Trace log: "   at Microsoft.Crm.Extensibility.OrganizationSdkServiceInternal.Execute(OrganizationRequest request, InvocationContext invocationContext, CallerOriginToken callerOriginToken, WebServiceType serviceType, Boolean checkAdminMode, ExecutionContext executionContext, Dictionary`2 optionalParameters)\r\n   at Microsoft.Crm.Extensibility.OData.CrmODataExecutionContext.

[2019-08-16 14:11] onyebuchiboss commented on #25
@bguidinger None of the reports works.

[2019-08-19 01:21] Buzzard1970 opened #26 "Update the Setup documents"
Could you update the Azure set up in the documents I'm new to this but every thing seams to have changed since you made the setup instructions in azure portal. sorry to be a pain

[2019-08-19 11:25] onyebuchiboss commented on #25
@bguidinger Any luck Bob. This works perfectly on my Trial version  but wouldnt work for production. Any form of restrictions on production ?

[2019-08-20 00:26] onyebuchiboss commented on #24
@bguidinger I am facing same issue, but i am not sure we are usin ADFS auth, i did register an app on azure, is the ADFS something different ? @jogendarb @joaodsantos

[2019-08-20 09:58] olusparks opened #27 "I am getting the same error while calling the RenderReport in Microsoft Flow. However it is retrieving all the reports in the system while testing the custom connector's "_GET_Reports" function."
This is exactly what I experience now. I am getting the same error while calling the RenderReport in Microsoft Flow. However it is retrieving all the reports in the system while testing the custom connector's "_GET_Reports" function.

_Originally posted by @jogendarb in https://github.com/bguidinger/Xrm.ReportScheduler/issues/21#issuecomment-518778413_

[2019-08-20 13:01] nancyahernandez opened #28 "Not working if Multi Factor Authentication (MFA) is enabled"
In my case Multi Factor Authentication (MFA) is enabled, and unable to bypass that. Please suggest a way to achieve this.

Below is the error that I get.
{"error":"invalid_grant","error_description":"AADSTS50126: Invalid username or password.\r\nTrace ID: c10c7df5-a926-4e9a-bece-4d6306c2df00\r\nCorrelation ID: aefd02de-612d-4139-8012-719674e19392\r\nTimestamp: 2019-08-20 11:35:04Z","error_codes":[

[2019-08-20 13:04] bguidinger commented on #28
There is no way to bypass this.  In order for the call to SSRS to succeed, it needs to run as a named user account.  There is no way to handle MFA in a plugin since it's running "headless".

[2019-08-20 13:04] #28 closed

[2019-08-20 13:06] bguidinger commented on #26
I'll add this to my to-do list.  Probably won't get to it for a while though.

[2019-08-20 13:10] bguidinger commented on #23
I don't think this is possible the way you're looking to use it.  The only way it could work like that -- and this would required a code change first -- is if each user configured their own Flow with their own connection (and hence the Flow would run as their user when connected to CRM to run the report).

[2019-08-20 13:14] bguidinger commented on #24
For the ADFS issue, unfortunately I can't fix/test that as I don't have access to an environment that uses ADFS.  If anyone fixes this, feel free to submit a PR and I'll merge the changes in.

[2019-08-20 13:14] #24 closed

[2019-08-20 13:14] nancyahernandez commented on #28
Hi @bguidinger

Thanks for your reply.

Any workarounds? Even if it means going outside plugin is fine.

[2019-08-20 13:21] bguidinger commented on #28
The only workaround would be to disable MFA (which I wouldn't recommend, especially for users that have elevated permissions in CRM).

[2019-08-20 13:26] andreaPorini commented on #23
Hi @bguidinger,

I took your code and made a few changes in the plugin "Render" to get it done, in particular:

- in the switch of OnExecute

              case "documenttemplate":
                    var templateColumns = new ColumnSet("documenttype", "associatedentitytypecode");
                    var template = service.Retrieve(target.LogicalName, target.Id, templateColumns);

[2019-08-20 13:27] nancyahernandez commented on #28
Thanks for your support.

[2019-08-20 13:29] bguidinger commented on #23
Ah...yes, this would work for Excel and Word templates.  Good catch!  However, if I remember right, I tried this with the SSRS reports, but that service does not respect the MSCRMCallerID header.

Would you mind submitting a PR for this?

[2019-08-20 13:47] andreaPorini commented on #23
Done, I've done 3 PR because I'm not so good with GitHub but I've included all the changes I've made!

Andrea

[2019-08-20 14:44] onyebuchiboss commented on #23
@andreaPorini pls can you tell me the steps on how you installed in dynamics without installing the solution as a whole, i want to debug the code but needs these steps first.

Thanks.

[2019-08-20 14:49] andreaPorini commented on #23
Hi @onyebuchiboss,

to debug the code you're not obliged to install the solution, if you download the code from GitHub you can use the Console Application that @bguidinger has made for us :)

All the logic is in the plugins so the CA is all you need!

Andrea

[2019-08-20 15:06] onyebuchiboss commented on #25
@bguidinger my intsance is an online version tho, not on prem. What could be the cause?

[2019-08-20 21:04] Buzzard1970 commented on #26
That’s ok thanks for the reply I do appreciate it

Russell Dodd
 [IQM Group-02sm]
Dynamics CRM Architect
CRM / Resco Mobile Developer
IQM GROUP AUSTRALIA
Mooloolaba QLD AU 4775
IQM GROUP L.L.C Delaware USA 19958<x-apple-data-detectors://68/0>
M: 0408 404 432<tel:0408%20404%20432>
E : rd@iqmgroup.com<mailto:rd@iqmgroup.com>

On 20 Aug 2019, at 11:06 pm, Bob Guidinger <notifications@github.com<mailt

[2019-08-27 10:52] sureshkumarsatti opened #32 "Unable to pass multiple parameters to the report"
Hello Bob, First of all thanks for building this solution. Its very handy to use.

I am trying to schedule a report that expects multiple integer parameters. I have tried passing it by initializing a variable of type object and passing the values as an array as shown below.

{
  "ReportParameter1": [
    "960940000",
    "960940000"
  ]
}

When i run the flow i get this error "Something went wrong

[2019-08-27 16:12] onyebuchiboss commented on #21
@jogendarb @MutedMind someone update us, if there has been a workaround around this.

[2019-08-27 18:40] bguidinger commented on #32
I'm not 100% sure, but you may have to encode the ReportParameter1 value.
So your initialize variable step would look something like this:

{
  "ReportParameter1": "[\"1234\", \"1234\"]"
}

On Tue, Aug 27, 2019 at 5:52 AM sureshkumarsatti <notifications@github.com>
wrote:

[2019-09-03 08:18] johnmurray01 opened #33 "Can't directly edit components within a managed solution ..."
Message in Dynamics/Power Apps says:
You cannot directly edit the components within a managed solution. If the managed properties for solution components are set to allow customization, you can edit them from another unmanaged solution.

Due to this, I don't seem to be able to set the Username/Password in the Configuration area - after I click submit, nothing happens so I don't know if it has save

[2019-09-05 08:38] johnmurray01 commented on #33
tried loading the 'Unmanaged' file but that gives a warning about not being able to uninstall the components once it's installed (which is not the case for the 'Managed' solution). So I've not loaded the Unmanaged file yet for that reason. I guess this is a standard warning for all unmanaged solutions but would still like your guidance on whether I should stick with Managed if there's a way to byp

[2019-09-10 08:29] johnmurray01 commented on #33
Hi @bguidinger - any guidance on the above?

[2019-09-10 12:16] bguidinger commented on #33
Use managed. The username and password will disappear after you click submit.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: John Murray <notifications@github.com>
Sent: Tuesday, September 10, 2019 3:29:22 AM
To: bguidinger/Xrm.ReportScheduler <Xrm.ReportScheduler@noreply.github.com>
Cc: Bob Guidinger <bguidinger@gmail.com>; Mention <mention@noreply.github.

[2019-09-12 12:13] johnmurray01 commented on #33
hi @bguidinger - getting an issue right at the end of installation. when you add a new connection in flow it opens a popup where you try to login, but I get an error saying it can't log me in and then underneath it says "AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application".

Also not sure if I've got the correct Dynamics 365 permission s

[2019-09-12 13:08] bguidinger commented on #33
Look at the first screen when you set up the connection in Flow. That will show you the redirect URI you need to use in your Azure AD app registration. I need to update the documentation as the redirects changed.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: John Murray <notifications@github.com>
Sent: Thursday, September 12, 2019 7:13:29 AM
To: bguidinger

[2019-09-12 13:31] johnmurray01 commented on #33
what I see in the browser bar in Flow is https://unitedkingdom.flow.microsoft.com/ ? This still gives me the same error.

[2019-09-12 14:01] bguidinger commented on #33
When you set up the connection in Flow, there should be a field in the page that has the redirect URI. Not the address bar.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: John Murray <notifications@github.com>
Sent: Thursday, September 12, 2019 8:31:44 AM
To: bguidinger/Xrm.ReportScheduler <Xrm.ReportScheduler@noreply.github.com>
Cc: Bob Guidinger <bguiding

[2019-09-27 19:39] syaney opened #34 "Unable to import into Dynamics 365"
When attempting to import the ReportRenderer_1_5_0_0_managed.zip file into Dynamics it gives the following error.  File Isn't Valid "The compressed (.zip) file couldn't be uploaded because it's corrupted or doesn't contain valid importable files. I have tried redownloading the zip file but it yields the same error message. I am using Dynamics 365 online Version 1710 (9.1.0.8428)

[2019-09-27 19:44] bguidinger commented on #34
Just to confirm, you are downloading the zip file from the [Releases](https://github.com/bguidinger/Xrm.ReportScheduler/releases) section?  Make sure you right-click on the file after it's downloaded and "Unblock" it (assuming you're using Windows).

I just imported it successfully into an org of the same version.  If you still have trouble importing it, can you let me know which files are include

[2019-09-27 19:45] bguidinger commented on #33
@johnmurray01 were you able to get this working?

[2019-09-27 19:45] bguidinger commented on #32
@sureshkumarsatti were you able to get this working?

[2019-09-27 19:47] bguidinger commented on #25
@onyebuchiboss were you able to get this working?

[2019-09-27 20:06] onyebuchiboss commented on #25
Nope, not at all. Solution online I saw, was calling another Web service and that Web service to in turn call dynamics Api. Couldn't implement it for the client.

[2019-10-01 18:11] syaney commented on #34
I double checked to make sure that it was unblocked and am still unable to import the zip file. The files within the zip are

![image](https://user-images.githubusercontent.com/55896062/65988184-60dd9c00-e455-11e9-968e-bc0421303bdf.png)

[2019-10-10 10:53] johnmurray01 commented on #33
Hi @bguidinger Having an issue with Connector Status - says "This connection is not authenticated - Update password" - but when i click update password and then click fix connection, it tries to log me in (even though I'm already logged in) to fix it, but it doesn't work - any ideas on what password they're referring to here? My CRM login or my Report Renderer pw? I dont think I can change the Rep

[2019-10-11 08:43] johnmurray01 commented on #33
ok, i've just uninstalled and reinstalled - that seems to have got rid of the authentication issue.

[2019-10-11 09:20] johnmurray01 commented on #33
Hi @bguidinger

Got this error:
Failed with error: 'AADSTS650057: Invalid resource. The client has requested access to a resource which is not listed in the requested permissions in the client's application registration. Client app ID: 787e2xxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx(Report Renderer). Resource value from request: xxxuat.crm11.dynamics.com. Resource app ID: 00000007-0000-0000-c000-000000000000

[2019-10-11 11:43] johnmurray01 commented on #33
ok, fixed the permissions issue above - but now when I try to setup the Flow, I'm only seeing a list of 'System Views' in the 'Render Template - Excel' dropdown. I want to be able to run Views (Advanced Finds) I created myself in the 'My Views' section of Dynamics 365. Any ideas how to bring these up?

[2019-10-11 12:28] johnmurray01 commented on #33
Even when i try to run a System View i get the following error:

OUTPUTS:
Status Code: 400

{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
    "innererror": {
      "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
      "type": "System.ServiceModel.FaultException`1[[

[2019-10-29 18:31] carrollamanda2 opened #35 "Unable to successfully test connector in GCC"
I am able to successfully create and test this custom connector in us.flow.  When attempting the same setup in gov.flow, i consistently get a bad authorization token (400) error.

Error from token exchange: Bad authorization token. The access token is from wrong audience or resource.

Is there anything that needs to be done differently for this custom connector to work in GCC??

Thanks!
Amanda

[2019-10-31 09:43] johnmurray01 commented on #33
Hi @bguidinger -
2 Issues:
1. Getting error above when running a System View
2. Cant run or even see Views (Advanced Finds) I created myself in the 'My Views' section of Dynamics 365.

[2019-11-04 10:57] johnmurray01 commented on #33
@bguidinger  bob, anybody there?

[2019-11-05 01:15] bguidinger commented on #33
Hi John - I have a little one at home now, and my priorities have shifted.
I do not have much time to dedicate to this project at this time.

On Mon, Nov 4, 2019 at 4:57 AM John Murray <notifications@github.com> wrote:

[2019-11-05 01:21] bguidinger commented on #35
Hi Amanda,

The solution is hardcoded to go to the commercial authentication endpoint
right now (login.microsoftonline.com).  I believe it just needs to be
updated to go to login.microsoftonline.us.

I don't have time/capacity to make this change right now.  If you're a
developer, or you're working with a developer, they could make this change
here:
https://github.com/bguidinger/Xrm.ReportSchedule

[2019-11-05 13:16] carrollamanda2 commented on #35
Thank you!

We are actually using commercial azure and our Dynamics is in GCC.  When I create the Custom Connector in commercial flow, I am able to test the connector successfully on the test tab of the custom connector setup.  When I create the custom connector in gcc flow, the test fails on the test tab of the custom connector.  At this point I think it's just using the parameters entered in the

[2019-12-04 13:35] janhla opened #36 "Azure App Registration Changes"
Hello, I tried to set up the solution according to the installation guide, but Azure App Registration is changed completely and Reply URLs and Dynamics CRM API are not available now. So what should be the suggested installation process in Azure now? Thank you.

[2019-12-04 13:49] bguidinger commented on #36
This has been on my list for a while now (updating the install docs). I'll try to get updated documentation published by the end of the week.

In the meantime, you can get the reply URL when you create the customer connector in Power Automate (Flow). The API permissions for the AD app registration may show up as either CDS or Dynamics 365 now (don't remember without checking). If you find one that

[2019-12-04 16:06] janhla commented on #36
Nice, it would be really great. Now I'm stuck trying to connect Flow Connector with Azure App.

[2019-12-09 10:03] omartarazonahernandez opened #37 "Power Automate Create a custom connector changes"
Hello, I tried to replicate your solution but in Power Automate, I can't find the "Import an OpenAPI from URL" option
![imagen](https://user-images.githubusercontent.com/29880184/70426061-ada3ab80-1a72-11ea-8740-3590d881e4fa.png)
What is the new way to do this?. Thank you

[2019-12-09 15:21] jakefarrell commented on #32
is it possible to generate a report with multiple parameters.  e.g. i have a report with Parameter 1 and Parameter 2 both needing different GUIDs passed....

[2019-12-09 16:09] bguidinger commented on #36
I have updated the documentation.

[2019-12-09 16:09] #36 closed

[2019-12-09 16:23] bguidinger commented on #37
Looks like you might be using a Preview version of Power Automate (or you're in a region that's received the latest train).  In my test org in NAM, I don't see the same screen you do.

Either way, you can access the Custom Connectors under the "Data" tab on the left.  From there you can import the OpenAPI file.

[2019-12-09 16:23] #37 closed

[2019-12-09 16:26] bguidinger commented on #32
@jakefarrell yes, it's possible.  Just create the JSON parameter with two properties in it.

[code]

[2019-12-09 17:37] jakefarrell commented on #32
that is what i thought i gathered form the documentation, but wanted to ask for sure before going this route.  thank you for the quick response...

[2019-12-11 22:28] jcuevaiis opened #38 "Error 400 - Something went wrong"
Getting a similar error than what I see in previous Posts.  However I don't see a solution being listed.  I am running a report that has no Parameters required.  Below is the error that I am getting in the Body of the Output error:

{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong.",
    "innererror": {
      "message": "Something went wrong.",
      "type": "System.Se

[2019-12-11 22:32] bguidinger commented on #38
Can you enable plug-in tracing in CRM and send the details from the plug-in trace log?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jcuevaiis <notifications@github.com>
Sent: Wednesday, December 11, 2019 4:28:54 PM
To: bguidinger/Xrm.ReportScheduler <Xrm.ReportScheduler@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [bguidinge

[2019-12-13 06:50] jcuevaiis commented on #38
Here are the details from the plug-in trace log:

BGuidinger.Reports.Render
[FormSections_NavigationFlyOut_Button]
Message Name bg_Render undefined
bg_Render
Primary Entity report undefined
report
Operation Type Plug-in undefined
Plug-in

Configuration
General

System Created

Where the event originated. Set to true if it's a system trace; otherwise, false.
System Created Yes System Created-Where

[2019-12-18 04:56] mikita110891 commented on #9
@bguidinger :
I am getting below error.

{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
    "innererror": {
      "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
      "type": "System.ServiceModel.FaultException`1[[Microsoft.Xrm.Sdk.OrganizationServiceFault, Microso

[2019-12-18 06:25] mikita110891 commented on #38
@bguidinger :

i am getting same error.

{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
    "innererror": {
      "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
      "type": "System.ServiceModel.FaultException`1[[Microsoft.Xrm.Sdk.OrganizationServiceFault, Microso

[2019-12-18 06:27] mikita110891 commented on #25
@bguidinger
I am getting same error. Please help
{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
    "innererror": {
      "message": "Something went wrong: The remote server returned an error: (400) Bad Request.",
      "type": "System.ServiceModel.FaultException`1[[Microsoft.Xrm.Sdk.OrganizationServiceFault,

[2019-12-20 13:33] alex188888 opened #39 "Error 400 - Something went wrong"
hI,

Getting a similar error than what I see in previous Posts.

Below is the error that I am getting in the Body of the Output error:.

{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: Error while getting report session.  This is most likely an issue with invalid report parameters.",
    "innererror": {
      "message": "Something went wrong: Error while getting repo

[2020-01-13 22:10] kmturek opened #40 "Referencing #11 parameters"
In #11 - You mentioned SSRS reports were different in passing parameters. I am attempting to run a custom SSRS report each month on specified accounts, say fmic_status equals active. How do i run the report on CRM_FilteredAccount on an SSRS report?

[2020-01-14 15:22] #40 closed

[2020-01-14 15:22] kmturek commented on #40
figured it out

[2020-02-01 21:49] brdmyldz opened #41 "How to Pass Parameters"
Hi Bob,

Thank you for the awesome work. So I've been using the Report Renderer for a file My boss asked me to make one more automation but I couldn't manage to get it working.

For the previous flows, report renderer easily worked without any parameter passing like you described in the guide. I guess I was lucky because I couldn't figure out where to find the parameters for the specific report.

[2020-02-04 08:59] michaelurbain opened #42 "Import Report Renderer Custom renderer does not work"
Dear,

We are currently integrating the Custom Connector in a solution with a Power Automate Flow.
Then we export the solution from the Dev environnement and try to import it in another Test environnement. The Flow seems completely broken and is not usable and editable any more.

Did you have experienced the same problem  ? Have you any adviced to deploy the Power Automate flow within another envi

[2020-02-07 20:13] carrollamanda2 commented on #40
what was the fix?  i am facing the same issue and cannot figure out how to pass the current record that triggered the flow as the selected record for pre-filtering.

[2020-02-14 15:09] NAngryPole opened #43 "OpenAPI File"
Under the custom connector in Power Automate I name the connection. After that I have the Import an OpenAPI file. Where is this file located?

Did I miss a step with the installation?

Continue is greyed out and when i click on import it wants me to load a json file.

Please advise,

[2020-02-14 22:07] bguidinger commented on #43
The OpenAPI file is the "swagger.json" file in the releases.
https://github.com/bguidinger/Xrm.ReportScheduler/releases

On Fri, Feb 14, 2020 at 9:09 AM NAngryPole <notifications@github.com> wrote:

[2020-02-20 13:55] #43 closed

[2020-02-20 14:03] NAngryPole opened #44 "Connector Definition"
In Power Automate after the security section on the install document, there is a new section called Definition, you specify Actions, Triggers ...etc

I kept all the defaults but nothing comes up under test and cannot change options.

Please advise,

[2020-02-20 14:40] #44 closed

[2020-02-20 14:42] NAngryPole opened #45 "Parameters for Flow"
I have this working but it does not allow me to use the Parameters in Report Renderer (Dynamic Content)

For the Initialize Variable what do i need to put in there from my custom report?

The columns such as Activity Type, Date Created ? etc?

The file attaches as HTML not as PDF.

Please advise,

[2020-02-20 14:58] #45 closed

[2020-02-20 17:06] NAngryPole opened #46 "PDF Report Not Changing Values"
When I use a custom report and change values such has the last week to the last 15 or 30 or even 60 days and change sorting by a different field. Nothing changes with the PDF from the original run i did but when i run it in Dynamics it shows the proper information.

Any help or ideas would be greatly appreciated,

[2020-02-20 17:38] NAngryPole commented on #46
Here is the Parameters i cannot get into FLOW in the variable section;

{
<fetch version="1.0" output-format="xml-platform" mapping="logical" distinct="true">
  <entity name="report">
    <attribute name="name" />
    <attribute name="reporttypecode" />
    <attribute name="filename" />
    <attribute name="bodyurl" />
    <attribute name="modifiedon" />
    <attribute name="description" />
    <a

[2020-02-20 18:06] ghost commented on #46
`{
	"fetch": {
		"entity": {
			"attribute": [
				{
					"_name": "name"
				},
				{
					"_name": "reporttypecode"
				},
				{
					"_name": "filename"
				},
				{
					"_name": "bodyurl"
				},
				{
					"_name": "modifiedon"
				},
				{
					"_name": "description"
				},
				{
					"_name": "reportid"
				},
				{
					"_name": "iscustomreport"
				}
			],
			"order": {
				"_attribute":

[2020-02-20 18:51] ghost commented on #46
After putting the fetch xml data into the variable I still have no dynamic content available for the Render Report connector in Flow

[2020-02-20 19:45] ghost commented on #46
{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: Unable to parse report parameters.  Please ensure they are in JSON format.",
    "innererror": {
      "message": "Something went wrong: Unable to parse report parameters.  Please ensure they are in JSON format.",
      "type": "System.ServiceModel.FaultException`1[[Microsoft.Xrm.Sdk.OrganizationServiceFault, Microsoft.

[2020-02-22 00:18] glisp42 commented on #27
Just a heads up for anyone else who's having this issue.  I was having the same thing and it turned out to be multifactor authentication being enabled.  Make sure the user (ideally a service account) is a Global Admin and has multifactor authentication disabled.

[2020-02-26 19:57] dpekarchik opened #47 "Adding a rendered report to Timeline"
Does anyone know a way to take a rendered pdf report and add it to the timeline in dynamics? When I go to create a record it does not allow me to select output like it does in send an email

[2020-03-20 21:42] talismanconsulting commented on #41
Your parameters have to be in JSON format and named exactly as they are in the report.  For example:
Your report parameter is: PositionId

![Snag_1f685466](https://user-images.githubusercontent.com/56944730/77208410-bbcd8300-6ac9-11ea-8c78-cedbbd95b4d1.png)

Then:
![Snag_1f679ee2](https://user-images.githubusercontent.com/56944730/77208358-a22c3b80-6ac9-11ea-8467-3b3010b0b401.png)

[2020-04-03 07:06] srinirn commented on #41
Hi,
I am having the same problem. I am trying with default report "Account Distribution" and trying to pass the parameters for TopAccounts and GroupBy.
Any solution or directions to pass the parameters .

[2020-04-17 00:31] jade7669 opened #48 "Report NOT render correctly with new filter condition"
First of all, thank you for sharing your solution!!

We have installed v1.3.0.0 and it has rendered 2 custom reports for us in the past without any issue.  However, recently we had to change the report filtering to show by certain users.  After we "Edit Default Filter" on CRM side and manually create report in PDF, the new filtering condition applied correctly.  However, when the scheduled Report

[2020-04-17 15:13] jade7669 commented on #48
I have cloned the existing reports in CRM to new ones and this issue resolved on its own.  Thank you.

[2020-04-17 15:13] #48 closed

[2020-06-26 15:04] kmturek opened #49 "Using Flow - When Record Selected"
We are using this application to run a report on selected records and then send to adobe sign for signature. My issue is how to pass the accountid that has been selected into the report for each account selected. Scenario, our user will create a view and run the flow on multiple records. Flow is set up with a when record is selected, then list accounts, what is the correct parameter for the accoun

[2020-06-26 19:21] kmturek commented on #40
still havent been able to get it to run a a specific account - just runs on all

[2020-07-15 13:06] cjgates11 opened #50 "Plugin Execution Error"
Hi Bob,

I wonder if you can help?

We're using report renderer for a client and have started getting an issue in flow with solution version 1.5

I thought there might be an issue with environments and connections etc in Flow itself so have created a new flow in the correct environment.  The app registration secret has been renewed and the connection seems to be fine.  So is the API access to CDS

[2020-07-16 12:36] drissenberg opened #51 "Plugin Execution Exception - Authentication"
Hi Bob,

I'm getting a plugin exception for bg_Render.  It seems simply to be an authentication issue.  The SecureConfiguration setting is in place and looks fine.  Here is the message block from the step and the exception details.  Many thanks for any help.

David

2020-07-15 16:00:00.590 - Starting execution.
2020-07-15 16:00:00.606 - Authenticating....
2020-07-15 16:00:01.027 - The remote serve

[2020-08-19 01:17] adventureconsultants commented on #38
My error on testing directly after installation is the same as above. The GET requests pass the testing but the POST requests fail.
Is there any update on this?
It would be great to know if this project still being supported?

[2020-08-19 15:45] bguidinger commented on #51
@drissenberg which region is your CRM instance in?  Does the account you're using have MFA enabled?  Are you trying to use an application user (client ID/client secret)?

[2020-08-19 15:47] bguidinger commented on #27
@glisp42 you are correct that MFA has to be disabled for the service account.  However, the user does not need to be a Global Administrator.

[2020-08-19 15:47] #27 closed

[2020-08-19 15:48] bguidinger commented on #47
@dpekarchik You should be able to create an "annotation" record (i.e. a note) and attach the file.

[2020-08-19 15:48] #47 closed

[2020-09-04 14:54] kmturek commented on #51
having the same exact issues, was working just fine, then we updated to V9.1 and I cant get a POST response. We are not using MFA and are located in Northern America

[2020-09-04 14:55] kmturek commented on #51
I checked the plugin and its secured with user name and password as well

[2020-09-05 17:58] kmturek commented on #38
Same issue, started when we moved to V9.1 on Dynamics CRM

[2020-09-09 18:16] theapemother commented on #38
I have the exact same issue. "Something went wrong: The remote server returned an error: (400) Bad Request." Has anyone found a fix for this?

[2020-09-09 18:20] theapemother commented on #21
@MutedMind has anyone found a work around yet?

[2020-09-09 18:28] dribblej commented on #27
@bguidinger Thank you for this solution. I am wondering where you are supposed to tweak the MFA for the account. Is this in Azure? Thank you for your time.

[2020-09-09 18:30] onyebuchiboss commented on #21
The error is coming from the initial authentication, get the source code
and change the authentication to the type used in MB-400 (Microsoft learn
learning path ). It shld work afterwards. Good luck, that's how I resolved
the issue.

On Wed, 9 Sep 2020, 19:20 Josh Dibble, <notifications@github.com> wrote:

[2020-09-09 18:42] theapemother commented on #21
@onyebuchiboss thank you for the response. I don't know how to do that. Are you able to provide any instruction on how to change the authentication to the one you suggested, and where do I get the exact code for the MB-400?

[2020-09-09 19:15] theapemother commented on #27
@bguidinger @glisp42 By service account do you mean one that is set up from azure to make the custom connector? Is it possible to create a separate account that doesn't have global admin and disabled MFA to assign to this plugin so that the flow runs as wanted?

[2020-09-09 19:25] onyebuchiboss commented on #21
That's why I have - Microsoft Learn learning path for MB-400. In that
learning path, there is an Authentication they used, can't remember, I used
exact same thing.

On Wed, 9 Sep 2020, 19:42 Josh Dibble, <notifications@github.com> wrote:

[2020-09-09 22:59] kmturek commented on #38
My issue was my user name and password was incorrect / not matching what the connector had and my account got locked out from too many failed attempts. works fine now

[2020-09-11 16:17] sureshkumarsatti commented on #47
Hello @bguidinger ,

I wanted to achieve something similar and whenever i create a note attachment i get this error "Invalid character in field 'documentbody': '', hexadecimal value 0x12, is an invalid character.". I thought the issue was with the output from the report rendered itself, but when i tried to create a file on sharepoint using the same output, it worked fine. Just wondering what migh

[2020-09-17 02:08] adventureconsultants commented on #41
I downloaded the Renderer Report Example zip file linked on https://github.com/bguidinger/Xrm.ReportScheduler/issues/10 and it will allow me to produce a PDF from a system report such as 'Account Summary' but the moment I switch it to a report I have created either using the same "CRM_FilteredAccount" parameter or no parameters required at all I still get "_Something went wrong: Error while gettin

[2020-11-10 16:20] abrookie opened #52 "Custom Action Execution Exception - Authentication Problem"
Hi Bob,

I'm getting a exception for the bg_Render custom action. It seems simply to be an authentication issue. The SecureConfiguration setting with my user name and credentials is in place and looks fine. Here is the message block from the step and the exception details. I'm not using Client ID / Client Secret, I am using my normal Dynamics 365 user id / password.  I'm also not trying to call it

[2020-11-10 16:37] abrookie commented on #52
This CRM is the West Region

[2020-11-20 17:03] iannicholls opened #53 "Import API step?"
Hi, I have created all of the setup and stuck at the API import step in Flow, where does the json file come from? I tried creating from blank bu then the connector has no actions which I assume are in the API file. thanks for any info to resolve this.

[2020-11-20 17:05] iannicholls commented on #53
sorry, just fund this under the closed issues

[2020-11-20 17:05] #53 closed

[2020-11-23 19:18] iannicholls opened #54 "Operation failed (400), see response below"
I'm struggling to get this to authenticate on the Post renderReport action. he GET messages work ok though. Is there something anyone has found to resolve this? seem to be a common issue.

Header
{
  "allow": "OPTIONS,GET,HEAD,POST",
  "authactivityid": "1cb30778-0b3f-4aba-a80e-8ff2a2552dd9",
  "cache-control": "no-cache",
  "content-length": "121",
  "content-type": "application/json; odata.metad

[2020-12-28 20:36] hcocvines opened #55 "Resource not found for the segment 'Microsoft.Dynamics.CRM.bg_Render'"
Anyone else getting this error? Cannot seem to find if its the script or the CRM environment that is causing it.

[2020-12-31 19:48] aloncor commented on #52
I'm having the same issue, checking the code I have a doubt why the client id is hardcoded like in the following image:

![image](https://user-images.githubusercontent.com/18650162/103423869-45d96a80-4b77-11eb-87a5-c84d39e08b9d.png)

[2021-02-05 17:34] ganeshsmore opened #56 "Action 'Render_Report' failed"
Something went wrong: The remote server returned an error: (400) Bad Request.

[2021-02-14 23:00] devman2k commented on #24
@bguidinger Would you know if this solution would work with MFA for Online? Or would this require a code change? I too get the 400 Bad request. And suspect MFA. Do you have any additional T-shooting steps off the top of your head?

[2021-02-14 23:19] onyebuchiboss commented on #24
Use an application user for the authentication, u would have to change the
code tho, to use the clientId and secret.

On Sun, 14 Feb 2021, 23:01 devman2k, <notifications@github.com> wrote:

[2021-02-14 23:24] devman2k commented on #24
I did change to a service account without MFA. I then updated the login/pwd via the Config in Solution.

No change in error from PowerAutomate.

I did authorize the Consent for the App Reg Permissions and no change again.
![image](https://user-images.githubusercontent.com/7860424/107892222-b9e68c80-6ef1-11eb-9c9c-bc622cd5fdac.png)

why would there be any code change when changing the account used?

[2021-02-14 23:43] onyebuchiboss commented on #24
That's what I did to get it to work.

On Sun, 14 Feb 2021, 23:25 devman2k, <notifications@github.com> wrote:

[2021-02-15 01:15] devman2k commented on #24
Any chance you're talking about line 122 of Renderer ? That is where to change the client Id in the code? If that is correct where is the client secret then updated?

[2021-02-22 17:14] iannicholls commented on #54
Had some time to dig into this today and it looks like this is the issue. **Access has been blocked by Conditional Access policies.** Will see if I can get the config change to get around it.

[2021-03-03 12:53] EstibalizB opened #57 "Report Language error"
The environment has 3 diferent languages. If the report that I want to render as a pdf has selected all languages it does not work bue if the report has only one language it work. Any way to pass one languages?

[2021-03-08 18:26] MDrake3 opened #58 "(400) Bad Request starting on 2/22"
Hello,

I have 3 flows set up using the tool that have been running successfully for months.  All three started to fail on 2/22 with the error "Bad Request".  code: "0x80040265", message: "Something went wrong: The remote server returned an error: (400) Bad Request."

I checked all the setup and it looks to still be correct and valid.  When running the test for the custom connector, all the GET co

[2021-03-12 21:19] dariomagana10 commented on #58
I have the exact same Issue, All of my API calls work but the _POST_RenderReport request. I tried various rendering formats but still won´t work. Did you solve it MDrake?

[2021-03-12 21:36] MDrake3 commented on #58
I have not been able to resolve it.  Was the API working for you before or are you new to using it?

[2021-03-12 21:39] dariomagana10 commented on #58
I’m new, I saw the previous issues on github and last year some user posted the same, maybe they’ll fix the bug, for now I”ll create my flows and leave them disactive.

If I ever find a solution or it starts working again, I’ll let you know

Scarica Outlook per iOS<https://aka.ms/o0ukef>
________________________________
Da: MDrake3 ***@***.***>
Inviato: Friday, March 12, 2021 3:36:17 PM
A: bguidin

[2021-03-13 00:57] kdbeanblossom commented on #58
I have the same problem. This is the first time I have set this up. Everything works except for _POST_RenderReport. Hope this gets resolved because this would be an extremely useful tool for me.

[2021-03-17 17:21] dariomagana10 commented on #58
Hey guys, I fixed the problem, first I disabled the MFA(multifactor authentication) on the Office Admin Portal -> Users -> Active Users -> Multifactor Authentication -> Disable.

And I checked again the user/password on the Solutions configuration on D365. Advanced Settings -> Solutions -> Render Report(or whatever name you gave it) -> Configuration -> I set a user and password of my organization

[2021-03-19 16:39] kdbeanblossom commented on #58
After disabling MFA and lots of trial and error with passing parameters, I was able to get it to work (even with PDF's), however, once I turned MFA back on, I get the Bad Request error again, which means this won't work with an account with MFA turned on. Does anyone know of a work around for this?

[2021-04-14 11:01] shalumalik commented on #41
Hi,
Has anyone resolved this issue? I am also facing the same issue wherein I am providing the exact same values in parameters as used in Report, it's throwing this error.

[2021-04-23 10:02] hardikv-github opened #59 "Authentication Issue in Newly created Instances"
Region: West Europe
CRM Region: crm17
https://xyz.crm17.dynamics.com

We are generating report using console application c#.

`private static readonly Dictionary<string, dynamic> SecureConfig = new Dictionary<string, dynamic>()
        {
            ["resource"] = ConfigurationManager.AppSettings["CRMServerUrl"],
            ["username"] = ConfigurationManager.AppSettings["UserName"],

[2021-04-23 17:31] Yocomd commented on #35
Wondering if you ever resolved this?  GCC uses Commercial Azure, so the change above doesn't resolve it.

[2021-04-23 19:53] Yocomd commented on #35
We figured it out.  Need to change the tenant from "common" to the guid for your tenant and need to make sure the return url is added to your app registration.  Actually, turns out we only solved part of it.  We were able to create and test the connector, but when trying to use it in a flow, we get a "Something went wrong" error because SecureConfig is null.  And editing again because I realized I

[2021-04-27 16:08] osantonicola-aia commented on #32
Hi @bguidinger,

i am trying to pass a parameter with multiple values, following the suggestion of your previous post, but i get error.

_{
  "ReportParameter1": "[\\\"1234\", \\"1234\\\"]"
}_

Is this the right way to pass multiple input values for the same parameter?

Thanks in advance for your support.

Roland

[2021-05-09 11:07] alexy18 opened #60 "Something went wrong: The remote server returned an error: (400) Bad Request"
Hello

Please help us, we are at a loss, We really need the solution and are unable to implement it in our organization

{
  "error": {
    "code": "0x80040265",
    "message": "Something went wrong: The remote server returned an error: (400) Bad Request."
  }
}

[2021-05-11 07:17] alexy18 commented on #60
any idea where the problem is ?

![image](https://user-images.githubusercontent.com/78345071/117774377-17b11900-b242-11eb-9e92-987719ee0c3c.png)

[2021-05-11 09:34] bguidinger commented on #21
This solution is no longer recommended.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:34] #21 closed

[2021-05-11 09:35] bguidinger commented on #22
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:35] #22 closed

[2021-05-11 09:35] bguidinger commented on #60
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:35] bguidinger commented on #59
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:35] bguidinger commented on #58
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] bguidinger commented on #57
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] #57 closed

[2021-05-11 09:36] bguidinger commented on #56
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] bguidinger commented on #55
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] bguidinger commented on #54
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] #54 closed

[2021-05-11 09:36] bguidinger commented on #52
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] #52 closed

[2021-05-11 09:36] bguidinger commented on #51
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] bguidinger commented on #50
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:36] #50 closed

[2021-05-11 09:36] bguidinger commented on #50
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:37] bguidinger commented on #51
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:37] bguidinger commented on #51
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:37] bguidinger commented on #49
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:37] bguidinger commented on #46
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:37] bguidinger commented on #42
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:37] bguidinger commented on #41
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] bguidinger commented on #39
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] #39 closed

[2021-05-11 09:38] bguidinger commented on #35
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] #35 closed

[2021-05-11 09:38] bguidinger commented on #34
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] #34 closed

[2021-05-11 09:38] bguidinger commented on #33
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] #33 closed

[2021-05-11 09:38] bguidinger commented on #32
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] bguidinger commented on #26
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:38] #26 closed

[2021-05-11 09:39] bguidinger commented on #23
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:39] #23 closed

[2021-05-11 09:39] bguidinger commented on #25
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.

[2021-05-11 09:39] #25 closed

[2021-05-11 09:39] bguidinger commented on #38
This solution is no longer being maintained.  Please refer to the updated README for an alternative approach.